# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md

# Ignore file patterns
*.db
*.log
*.log.*
*.yaml.bk
*.db-shm
*.db-wal
known_devices.yaml
H9DWL0~1

# Ignore folders.
.storage
.cloud
.google.token
.vscode
image
www/tmp

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
secrets.yaml

# Add-on specific
.ps4-games.*.json
airsonos.xml
zigbee2mqtt
rtsp2webrtc_v5_aarch64
google_service_account.json
aircast.xml
