# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md

# Ignore file patterns
*.db
*.log
*.yaml.bk
known_devices.yaml

# Ignore folders.
.storage
.cloud
.google.token
.vscode
image
www/tmp

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
secrets.yaml

# Add-on specific
.ps4-games.*.json
airsonos.xml
zigbee2mqtt

# Temporary Home Assistant files
home-assistant_v2.db-shm
home-assistant_v2.db-wal
